
.flex {
    display: flex;
}
.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;

}

.j-end {
        justify-content: flex-end;
}

// *{
//     @font-face {
//         font-family: 'Poppins', sans-serif !important;
//         src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap.ttf) !important;
//       }
// }
